@tailwind base;
@tailwind components;
@tailwind utilities;

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}

@font-face {
  font-family: 'Mona';
  src: url('path/to/mona-font.woff2') format('woff2'),
       url('path/to/mona-font.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: 'Mona', sans-serif;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
