@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Mona Sans';
  src:
    url('/src/fonts/MonaSans.woff2') format('woff2 supports variations'),
    url('/src/fonts/MonaSans.woff2') format('woff2-variations');
  font-weight: 500;
  font-stretch: 125%;
}

/*Your Custom CSS Goes here*/

h1 {
  @apply text-4xl tracking-tighter mb-3 text-center lg:text-7xl;
}

h3 {
  @apply text-2xl font-bold mb-3;
}



html {
  font-family: 'Mona Sans';
  font-weight: 500;
  font-stretch: 125%;
}

/* Syntax Highlighting*/

body :not(pre) > code[class*="language-"],
body pre[class*="language-"] {
  @apply bg-gray-800;
}
